<!DOCTYPE html>
<html>
<head>
	<title><%=detailHdr %></title>
</head>
<body>

	<h1> <%=detailHdr %></h1>

	<div>
		<span>User Id :  0001</span> </br>
		<span>User: <%=username%> </span></br>
		<span>Tel# : 333 333 333 </span></br>
	</div>

	
	
	

</body>
</html>