<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> <%=loginHdr%></h1>


<form method="post" action="/">
    <div><span>User Name: <input type="text" name="username"/></span></div>
    <div><span>Password: <input type="password" name="password"/></span></div>
    <div><input type="submit" name="submit" value="Submit"/></div>
</form>
</body>
</html>